<!DOCTYPE html>
<html>
<head>

    
    <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="App.js"></script>
    <script src="Controller.js"></script>
    <script src="Button.js"></script>
    <script src="ButtonService.js"></script>
</head>
<body ng-app="App" ng-controller="cnrl">
    
    <flow-button name="{{buttonName}}" text="Click me" focus-id="button1" do-enter="Login"></flow-button>

</body>
</html>
